@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

:root {
    --main-color: #161A30;
    --second-color: #B6BBC4;
    --text-color: #02171d;
    --bg-color: #fff;
    --btn-color: #394367;

    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

body {
    background: var(--second-color);
    font-family: 'Roboto', sans-serif;
}

.bg-navbar{
    background-color: var(--main-color); 
    transition: background-color 0.3s ease; 
}

/* CAROUSEL */

.carousel-caption{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.carousel-item {
    min-height: 630px;
}

.carousel-item img {
    height: 630px;
}

.carousel-caption {
    bottom: 50px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* MEMBRESIAS */
.Custom-btn {
    background-color: var(--btn-color);
    color: #fff;
    transition: transform 0.3s ease; 
}

.Custom-btn:hover {
    background-color: var(--btn-color) !important; 
    color: #fff;
    transform: scale(1.05);
}

/* OPINIONES */

.Opiniones {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
}

.OpinionesIzquierda  h1{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.OpinionesIzquierda p {
    margin-bottom: 1rem;
}

.OpinionesIzquierda button {
    background: var(--btn-color);
    color: var(--bg-color);
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.OpinionesDerecha {
    display: grid;
    gap: 2rem;
}

.Card {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.Card img {
    max-width: 75px;
    border-radius: 100%;
}

.Card_Contenido {
    display: flex;
    gap: 1rem;
}

.Card_Contenido span i {
    font-size: 2rem;
}

.Card_Detalles {
    font-style: italic;
    margin-bottom: 1rem;
}

.Card_Detalles h4 {
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
}

/* RESPONSIVE */

@media (max-width: 1023px) {
    .sidebar {
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }

    .Opiniones {
        gap: 3rem;
    }

    .carousel-item {
        min-height: 500px;
    }

    .carousel-item img {
        height: 640px;
    }

    .carousel-caption {
        bottom: 50px;
    }

    .carousel-caption h5 {
        font-size: 40px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .Opiniones {
        grid-template-columns: repeat(1, 1fr);
    }

    .OpinionesDerecha {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 767px) {
    .carousel-item {
        min-height: 500px;
    }

    .OpinionesDerecha {
        grid-template-columns: repeat(1, 1fr);
    }

    .carousel-item img {
        height: 500px;
    }

    .carousel-caption {
        bottom: 30px;
    }

    .carousel-caption h5 {
        font-size: 30px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 426px) {
    .OpinionesIzquierda p {
        font-size: 15px;
    }

    .OpinionesIzquierda h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .carousel-item {
        min-height: 350px;
    }

    .carousel-item img {
        height: 350px;
    }

    .carousel-caption {
        bottom: 15px;
    }

    .carousel-caption h5 {
        font-size: 15px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 13px;
    }
}